<div class="container mt-3">
  <div class="big-card small">
    <%@cycles.each do |cycle|%>
    <div class="info-list-dashboard">
      <div style="list-style-type: none; display: inline-block;">
        <li><strong>Brand </strong></li>
        <li><strong>Category </strong></li>
        <li><strong>Color </strong></li>
        <li><strong>Location </strong></li>
        <li><strong>Price </strong></li>
        <li><strong>Contact name </strong></li>
      </div>

      <div style="list-style-type: none; display: inline-block; margin-left: 1em;">
        <li><%= cycle.brand %></li>
        <li><%= cycle.category.capitalize %></li>
        <li><%= cycle.color.capitalize %></li>
        <li><%= cycle.location.capitalize %></li>
        <li>¥<%= cycle.price %></li>
        <li><%= cycle.user.first_name.capitalize %></li>
      </div>
    </div>
    <%= image_tag cycle.photo, alt: "current cycle" %>
  </div>
  <% end %>
</div>
