<p>Find me in app/views/users/dashboard.html.erb</p>

<h3>User profile. Create view to show user purhcase bikes and maybe just show them their info or anything</h3>

<div class="container mt-3">
  <%@cycles.each do |cycle|%>
    <div class="big-card small">
      <ul>

        <li>
          <strong>Category:
          </strong><%= cycle.category.capitalize %></li>
        <li>
          <strong>Brand:
          </strong><%= cycle.brand.capitalize %></li>
        <li>
          <strong>Color:
          </strong><%= cycle.color.capitalize %></li>
        <li>
          <strong>Location:
          </strong><%= cycle.location.capitalize %></li>
        <li>
          <strong>Price:
          </strong>¥<%= cycle.price %></li>
        <li>
          <strong>Contact Name:</strong>
          <%= cycle.user.first_name.capitalize %>
        </li>
        <li>
          <strong>Contact e-mail:</strong>
          <%= cycle.user.email.capitalize %>
        </li>
      </ul>

      <%= image_tag cycle.photo, alt: "current cycle" %>
    </div>
  <% end %>
</div>
