<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">




<div class="container mt-3 mb-3">
  <h1>Cycles available near you</h1>

  <div class="row">
    <% @cycles.each do |cycle| %>
      <div class="col-md-4 mb-5">
        <div class="small-card">
          <%= link_to cycle_path(cycle), id:"cyclephoto" do %>
          <%= image_tag cycle.photo %>

          <div class="d-flex justify-content-front ml-3 mt-3 ">
            <h3><%= cycle.brand %></h3>
            <!-- <h2>Product title!</h2> -->
          </div>
          <div class="small-card-infos d-flex justify-content-between text-center" style="font-size: 18px; font-weight: bolder;">
            <h5 class="card-text"><%= cycle.category.capitalize %></h5>
            <p class="card-price">¥<%= cycle.price %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  </div>
</div>

