<br>
<div class="container mt-3">
  <div class="big-card">
    <ul>
        <h2><%= @cycle.brand.capitalize%></h2>
        <br>
        <br>
      <li><strong>Category: </strong><%= @cycle.category.capitalize %></li>
      <li><strong>Color: </strong><%= @cycle.color.capitalize %></li>
      <li><strong>Location: </strong><%= @cycle.location.capitalize %></li>
      <li><strong>Price: </strong>¥<%= @cycle.price %></li>
      <li><strong>Contact Name:</strong> <%= @cycle.user.first_name.capitalize %> </li>
      <li><strong>Contact e-mail:</strong> <%= @cycle.user.email.capitalize %> </li>
    </ul>

    <%= image_tag @cycle.photo, alt: "current cycle" %>

  </div>

  <br><br>

    <%= simple_form_for([@cycle, @booking]) do |f| %>
    <%= f.error_notification %>

    <%= f.input :pick_up_date, label: "Please choose your pickup date. (Max 1 week)" %>
    <%=f.input :Description, label: "Would you like to share anything with the seller?" %>

    <%= f.button :submit, class: "btn-yellow" %>
    <%= link_to cycles_path do %>
    <%= f.button :button, "Cancel", type: "reset", class: "btn-blk" %>
    <% end %>
  <% end %>
<br><br>
</div>
