<br>
<div class="container m-5 ">
  <div class="big-card">
    <ul>
        <h2><%= @cycle.brand.capitalize  %></h2>
        <br>
        <br>
      <li><strong>Category: </strong><%= @cycle.category.capitalize %></li>
      <li><strong>Color: </strong><%= @cycle.color.capitalize %></li>
      <li><strong>Location: </strong><%= @cycle.location.capitalize %></li>
      <li><strong>Price: </strong>¥<%= @cycle.price %></li>
      <li><strong>Contact:</strong> 08040533245</li>
    </ul>
    <%= image_tag @cycle.photo, alt: "current bicycle", class: "padding-frame" %>
  </div>

  <br><br>

    <%= simple_form_for([@cycle, @booking]) do |f| %>
    <%= f.error_notification %>

    <%= f.input :pick_up_date, label: "When will you pick this bike up by? (Max 1 week)" %>
    <%=f.input :Description, label: "Would you like to share anything with the seller?" %>

    <%= f.button :submit, class: "btn-yellow" %>
    <%= link_to cycles_path do %>
    <%= f.button :button, "Cancel", type: "reset", class: "btn-blk" %>
    <% end %>
  <% end %>

  <br>
</div>



<!--



 -->

