<div class="container mt-3">
    <div class="container justify-content-around mt-5">
        <div class="big-card">
            <h2>
                <%= @cycle.brand.capitalize%>
            </h2>
            <br>
            <br>
            <div class="info-list">
                <div style="list-style-type: none; display: inline-block;">
                    <li><strong>Category </strong></li>
                    <li><strong>Color </strong></li>
                    <li><strong>Location </strong></li>
                    <li><strong>Price </strong></li>
                    <li><strong>Contact name </strong></li>
                    <li><strong>Note </strong></li>
                </div>
                <div style="list-style-type: none; display: inline-block; margin-left: 1em;">
                    <li>
                        <%= @cycle.category.capitalize %>
                    </li>
                    <li>
                        <%= @cycle.color.capitalize %>
                    </li>
                    <li>
                        <%= @cycle.town.capitalize %>
                    </li>
                    <li>¥
                        <%= @cycle.price %>
                    </li>
                    <li>
                        <%= @cycle.user.first_name.capitalize %>
                    </li>
                    <li>
                        <%= @cycle.description.capitalize %>
                    </li>
                </div>
            </div>
            <%= image_tag @cycle.photo, alt: "current cycle" %>
        </div>
        <br><br>
        <div id="map" style="width: 90%;
  height: 300px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="pk.eyJ1IjoibmFvdG9zdXp1a2kxMSIsImEiOiJjazI1Z3hrd2IwNGF0M3BvZzJ2d2tsdTF4In0.MrCZy7dD9c-SBp5N2FVTNA"></div>
        <br><br>
        <%= simple_form_for([@cycle, @booking]) do |f| %>
        <%= f.error_notification %>
        <%=f.input :Description, label: "Contact the seller to purchase." %>
        <%= f.button :submit, 'Request to purchase', class: "btn-yellow" %>
        <%= link_to root_path do %>
        <%= f.button :button, "Cancel", type: "reset", class: "btn-blk" %>
        <% end %>
        <% end %>
        <br>
        <br>
    </div>
</div>
